## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,24.96,66,100,38.50,overcast clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,42.10,85,56,6.20,broken clouds
2,2,Sao Filipe,CV,14.8961,-24.4956,72.57,72,0,12.28,clear sky
3,3,Teya,RU,60.3778,92.6267,20.35,90,100,9.08,light snow
4,4,Hilo,US,19.7297,-155.0900,73.80,97,32,1.01,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                  (city_data_df["Max Temp"] >= min_temp)]

user_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Mataura,NZ,-46.1927,168.8643,59.49,43,10,6.64,clear sky
15,15,Bilma,NE,18.6853,12.9164,53.04,27,2,5.12,clear sky
18,18,Rawson,AR,-43.3002,-65.1023,57.54,61,56,15.03,broken clouds
24,24,Oum Hadjer,TD,13.2954,19.6966,60.42,23,3,12.88,clear sky
26,26,Luderitz,NaN,-26.6481,15.1594,67.64,75,94,3.38,overcast clouds
27,27,Kaitangata,NZ,-46.2817,169.8464,55.98,58,16,7.40,few clouds
30,30,Hermanus,ZA,-34.4187,19.2345,65.80,76,0,18.48,clear sky
33,33,Vila Franca Do Campo,PT,37.7167,-25.4333,57.61,82,100,8.57,overcast clouds
35,35,Bida,NG,9.0833,6.0167,68.95,15,0,3.65,clear sky
37,37,Port Alfred,ZA,-33.5906,26.8910,69.40,84,96,11.90,light rain

In [5]:
# 4a. Determine if there are any empty rows.
user_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = user_cities_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Mataura,NZ,-46.1927,168.8643,59.49,43,10,6.64,clear sky
15,15,Bilma,NE,18.6853,12.9164,53.04,27,2,5.12,clear sky
18,18,Rawson,AR,-43.3002,-65.1023,57.54,61,56,15.03,broken clouds
24,24,Oum Hadjer,TD,13.2954,19.6966,60.42,23,3,12.88,clear sky
27,27,Kaitangata,NZ,-46.2817,169.8464,55.98,58,16,7.40,few clouds
...,...,...,...,...,...,...,...,...,...,...
654,654,Takaka,NZ,-40.8500,172.8000,61.97,92,100,9.26,light rain
657,657,Somerset East,ZA,-32.7217,25.5880,60.60,89,96,7.05,overcast clouds
658,658,Pleasanton,US,37.6624,-121.8747,55.35,74,0,3.44,clear sky
659,659,Te Anau,NZ,-45.4167,167.7167,63.18,43,3,5.77,clear sky
661,661,Palmital,BR,-22.7889,-50.2175,69.84,95,100,4.50,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mataura,NZ,59.49,clear sky,-46.1927,168.8643,
15,Bilma,NE,53.04,clear sky,18.6853,12.9164,
18,Rawson,AR,57.54,broken clouds,-43.3002,-65.1023,
24,Oum Hadjer,TD,60.42,clear sky,13.2954,19.6966,
27,Kaitangata,NZ,55.98,few clouds,-46.2817,169.8464,
30,Hermanus,ZA,65.80,clear sky,-34.4187,19.2345,
33,Vila Franca Do Campo,PT,57.61,overcast clouds,37.7167,-25.4333,
35,Bida,NG,68.95,clear sky,9.0833,6.0167,
37,Port Alfred,ZA,69.40,light rain,-33.5906,26.8910,
40,Victoria,HK,65.17,broken clouds,22.2855,114.1577,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mataura,NZ,59.49,clear sky,-46.1927,168.8643,Ellie's Villa
15,Bilma,NE,53.04,clear sky,18.6853,12.9164,Expeditions Ténére voyages
18,Rawson,AR,57.54,broken clouds,-43.3002,-65.1023,Hosteria Sampedro
27,Kaitangata,NZ,55.98,few clouds,-46.2817,169.8464,Kaitangata Motor Camp
30,Hermanus,ZA,65.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
33,Vila Franca Do Campo,PT,57.61,overcast clouds,37.7167,-25.4333,Pestana Bahia Praia
35,Bida,NG,68.95,clear sky,9.0833,6.0167,Royal Suite
37,Port Alfred,ZA,69.40,light rain,-33.5906,26.8910,The Halyards Hotel
40,Victoria,HK,65.17,broken clouds,22.2855,114.1577,Mini Hotel Central
41,Naze,JP,56.32,overcast clouds,28.3667,129.4833,Shishime Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))